.avatar-uploader {
  :deep(.el-upload) {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    .avatar-uploader-icon {
      font-size: 28px;
      color: #8c939d;
      width: 140px;
      height: 88px;
      line-height: 88px;
      text-align: center;
    }
    .avatar {
      width: 140px;
      height: 88px;
      display: block;
    }
  }
  :deep(.el-upload:hover) {
    border-color: #409EFF;
  }
}

.first-image-tip {
  padding: 0;
  width: 232px;
  line-height: 28px;
}

