<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuituidan.openhub.mapper.ArticleMapper">

    <select id="selectList" resultType="com.tuituidan.openhub.pojo.vo.ArticleVO">
        SELECT id,
               title,
               author,
               topics,
               tags,
               top,
               valuable,
               visits,
               collects,
               approves,
               "comments",
               reply_time  AS replyTime,
               create_time AS createTime,
               update_time AS updateTime,
               introduction,
               first_image AS firstImage
        FROM business.dc_article
        WHERE publish = '1'
        ORDER BY coalesce(reply_time, create_time) DESC
    </select>

    <update id="updateTopOrValuable">
        UPDATE business.dc_article
        SET ${type} = #{value}
        WHERE id = #{id}
    </update>
</mapper>
