<?xml version="1.0" encoding="utf-8"?>

<configuration debug="false">
    <springProperty scope="context" name="rootLevel" source="logback.level.root" defaultValue="INFO"/>
    <springProperty scope="context" name="sqlLevel" source="logback.level.sql" defaultValue="INFO"/>
    <springProperty scope="context" name="PORT" source="server.port" defaultValue="8080"/>
    <springProperty scope="context" name="APP_NAME" source="spring.application.name" defaultValue="application"/>
    <define name="IP" class="com.tuituidan.tresdin.config.LogbackIpGetProperty"/>
    <property name="LOG_HOME" value="logs"/>

    <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>

    <!-- 控制台输出 -->
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <Target>System.out</Target>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%-5level] [%-5thread] %logger{20} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 正常日志输出文件 -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${LOG_HOME}/${APP_NAME}_stdout_${IP}_${PORT}.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${LOG_HOME}/${APP_NAME}_stdout.%d{yyyy-MM-dd}_${IP}_${PORT}.log
            </FileNamePattern>
            <maxHistory>20</maxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%-5level] [%-5thread] %logger{20} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 错误日志输出文件 -->
    <appender name="FILE-ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${LOG_HOME}/${APP_NAME}_stderr_${IP}_${PORT}.log</File>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>error</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${LOG_HOME}/${APP_NAME}_stderr.%d{yyyy-MM-dd}_${IP}_${PORT}.log
            </FileNamePattern>
            <maxHistory>20</maxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%-5level] [%-5thread] %logger{20} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 默认jdbc日志输出文件 -->
    <appender name="FILE-JDBC" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${LOG_HOME}/${APP_NAME}_jdbc_${IP}_${PORT}.log</File>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>debug</level>
        </filter>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%-5level] [%-5thread] %logger{20} - %msg%n</pattern>
        </encoder>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/${APP_NAME}_jdbc.%d{yyyy-MM-dd}_${IP}_${PORT}.log
            </fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
    </appender>

    <!-- jdbc相关无用输出 -->
    <logger name="jdbc.sqlonly" level="off"/>
    <logger name="jdbc.connection" level="off"/>
    <logger name="jdbc.audit" level="off"/>
    <logger name="jdbc.resultset" level="off"/>
    <logger name="jdbc.resultsettable" level="off"/>

    <logger name="jdbc.sqltiming" level="${sqlLevel}" additivity="false">
        <appender-ref ref="stdout"/>
        <appender-ref ref="FILE-JDBC"/>
    </logger>
    <logger name="com.tuituidan" level="${rootLevel}" additivity="false">
        <appender-ref ref="stdout"/>
        <appender-ref ref="FILE"/>
        <appender-ref ref="FILE-ERROR"/>
    </logger>
    <root level="warn">
        <appender-ref ref="stdout"/>
        <appender-ref ref="FILE"/>
        <appender-ref ref="FILE-ERROR"/>
    </root>
</configuration>
